{% extends 'base.html.twig' %}
{% block content %}
    <div class="container-fluid">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th class="text-center" scope="col">Titre</th>
                    <th class="text-center" scope="col">Description</th>
                    <th class="text-center" scope="col">Auteur</th>
                    <th class="text-center" scope="col">Date de création</th>
                    <th class="text-center" scope="col">Article premium</th>
                    <th class="text-center" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% set counter = 0 %}
                {% for article in articles %}
                    {% set counter = counter + 1  %}
                <tr>
                    <th scope="row">{{ counter }}</th>
                    <td class="text-center">{{ article.titre }}</td>
                    <td class="text-center">{{ article.description }}</td>
                    <td class="text-center">{{ article.auteur.fullname }}</td>
                    <td class="text-center">{{ article.creationDate|date('d/m/Y') }}</td>
                    <td class="text-center">{{ article.isPremium == false ? "Non " : "Oui" }}</td>
                    <td class="text-center"><a href="{{ path('articleEdit',{'id':article.id}) }}" class="btn btn-primary">Modifier</a> <a  class="btn btn-primary" href="{{ path('articleDelete',{'id':article.id}) }}">Supprimer</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block script %}
    <script>
    $(document).ready( function () {
    $('#myTable').DataTable();
    } );
    </script>
{% endblock %}