<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Blog tips">
        <meta name="author" content="Stanojevic Aleksandar">
        <meta name="generator" content="Jekyll v4.1.1">
        <title>
            {% block title %}
                Blog
            {% endblock %}
        </title>
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/blog.css') }}">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
        {% block javascript %}
        {% endblock %}
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
        <!-- Custom styles for this template -->
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark">
                <a class="navbar-brand" href=""><img width="90px" height="70px" src="" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item active">
                            <a class="nav-link font-weight-bold" href="{{ path('home') }}">Accueil</a>
                        </li>
                        <li class="nav-item active font-weight-bold">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item active font-weight-bold">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                    <div class="navbar-item-custom">
                        {% if app.user %}
                            <a href="{{ path('compte') }}">Mon compte
                                <small>({{ app.user.firstname }})</small>
                            </a>
                            |
                            <a href="{{ path('app_logout') }}">Deconnexion</a>
                        {% else %}
                            <a href="{{ path('login') }}">Connexion</a>
                            |
                            <a href="{{ path('app_register') }}">Inscription</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
        <br>
        <main role="main">
            <!-- Marketing messaging and featurettes																																																																																																																																																				    ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->
            <div class="container marketing mt-5">
                {% block content %}{% endblock %}
            </div>
            <!-- /.container -->
        </main>
        <script
                src="https://code.jquery.com/jquery-3.6.0.js"
                integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
                crossorigin="anonymous"></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    </body>
    {% block script %}
    {% endblock %}
</html>

