{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% if article.image is not null %}
            <div class="col-md-12">
                <img class="card-img-top"  src="/uploads/{{ article.image }}">
            </div>
            {% endif %}
            <div class="col-md-12">
                <h3 class="font-weight-bold">{{ article.titre }}</h3>
            </div>
            <div class="col-md-12">
                <p>{{ article.contenu }}</p>
            </div>
            <div class="col-md-12 font-italic">
                <p>Article rédigé par : {{ article.auteur.fullname }}</p>
            </div>
            <div class="col-md-12 text-muted">
                <p class="text-muted font-italic">le {{ article.creationDate|date('d/m/Y') }}</p>
            </div>
        </div>
    </div>
{% endblock %}
